body {
  margin-top: 80px;
  // line-height: 1.3;
  font-family: 'Roboto', sans-serif;
}

#search-form {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-size: 3em;
}

#plate-img {
  border: 2px solid gray;
  border-radius: 10px;
}

.account {
  background-color: white;
}

// .comment {
//   border: 1px solid black;
// }