
#search-form {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-size: 3em;
}

#plate-img {
  border: 2px solid gray;
  border-radius: 10px;
  max-width: 50vw;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and 
(max-device-width : 900px) {
  #car-info{
    flex-direction: column;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1010px) {
  #app {
    width: 1010px;
  }
  body {
    display: flex;
    justify-content: center;
  }
}
